<button type="button" name="button" ui-sref="inicio">Lista de proyectos</button>
<button type="button" name="button" ui-sref="taskProject">Detalle Proyecto {{projectSel.id}}</button>
<button type="button" name="button" ui-sref="taskDetail">Tarea Padre</button>
<div ng-show="subTaskSel.id">
  <h1>Detalle de la SubTarea {{subTaskSel.id}}</h1>
  <br>
  <h6>name <b>{{subTaskSel.name}}<b/><h6/>
  <h6>description <b>{{subTaskSel.description}}<b/><h6/>
  <h6>alias <b>{{subTaskSel.alias}}<b/><h6/>
  <h6>initial_date <b>{{subTaskSel.initial_date}}<b/><h6/>
  <h6>final_date <b>{{subTaskSel.final_date}}<b/><h6/>
    <br>
  <div ng-hide="subTaskSel.sub.length">
    <select class="" name="" ng-options="person as person.name for person in personList track by person.id" ng-model="taskPersonSelSave.person"></select>
    <button type="button" name="button" ng-click="asignarTaskPerson(subTaskSel)" ng-disabled="!taskPersonSelSave || !taskPersonSelSave.person">Asignar persona</button>
  </div>
  <div ng-show="subTaskSel.persons.length">
    <h3>Personas Asignadas</h3>
    <ul>
      <li ng-repeat="person in subTaskSel.persons">
        <span>{{person.name}}</span>
        <button type="button" name="button" ng-click="eliminarTaskPerson(subTaskSel, person)">Quitar</button>
      </li>
    </ul>
  </div>
<br>
<br>
  <div ng-show="subTaskSel.comments">
    <h3>Comentarios</h3>
    <ul>
      <li ng-repeat="comment in subTaskSel.comments">
        <p><b>{{comment.title}} : </b>{{comment.comment}}</p>
        <i>{{comment.person.name}}</i>
        <div ng-show="comment.sub.length">
          <ul>
            <li ng-repeat="subComment in comment.sub">
              <p><b>{{subComment.title}} : </b>{{subComment.comment}}</p>
              <i>{{subComment.person.name}}</i>
            </li>
          </ul>
        </div>
        <fieldset>
          <input type="text" name="" value="" ng-model="comment.newTitle">
          <input type="text" name="" value="" ng-model="comment.newComment" ng-disabled="!comment.newTitle">
          <button type="button" name="button" ng-click="nuevoComentario(subTaskSel, comment)" ng-disabled="!comment.newComment">Responder</button>
        </fieldset>
      </li>
    </ul>
  </div>
  <fieldset>
    <input type="text" name="" value="" ng-model="commentSel.title">
    <input type="text" name="" value="" ng-model="commentSel.comment" ng-disabled="!commentSel.title">
    <button type="button" name="button" ng-click="nuevoComentario(subTaskSel)" ng-disabled="!commentSel.comment">Comentar</button>
  </fieldset>
</div>
