<div class="">
  <h1>{{projectSelSave.id ? "Editar Proyecto " + projectSelSave.id : "Crear Proyecto"}}</h1>
  <form class="" method="post" ng-submit="saveProject()">
    <fieldset>
      <input type="text" name="project_name" ng-model="projectSelSave.name" required>
      <label for="">Nombre</label>
    </fieldset>
    <fieldset>
      <input type="text" name="project_description" ng-model="projectSelSave.description" required>
      <label for="">Descripción</label>
    </fieldset>
    <fieldset ng-if="!projectSelSave.id">
      <input type="text" name="project_alias" ng-model="projectSelSave.alias" required>
      <label for="">Alias</label>
    </fieldset>
    <fieldset>
      <select class="" name="project_person_leader" ng-options="person as person.name for person in personList track by person.id" ng-model="projectSelSave.person_leader" required>
        <option value="">Seleccione un líder de proyecto</option>
      </select>
      <label for="">Fecha Final</label>
    </fieldset>
    <fieldset>
      <input type="date" name="project_initial_date" ng-model="projectSelSave.initial_date" required>
      <label for="">Fecha Inicial</label>
    </fieldset>
    <fieldset>
      <input type="date" name="project_final_date" ng-model="projectSelSave.final_date">
      <label for="">Fecha Final</label>
    </fieldset>
    <fieldset>
      <input type="button" name="project_btn_cancel" value="Cancelar" ui-sref="inicio">
      <input type="submit" name="project_btn_submit" value="{{projectSelSave.id ? 'Editar' : 'Crear'}}">
    </fieldset>
    <span ng-show="errorMsj">{{errorMsj}}</span>
  </form>
</div>
