<div class="">
  <button type="button" name="button" ui-sref="inicio">Lista de proyectos</button>
  <h1>{{personSave.id ? "Editar Persona " + personSave.id : "Crear Persona"}}</h1>
  <form class="" method="post" ng-submit="savePerson()">
    <fieldset>
      <input type="text" name="project_name" ng-model="personSave.name" required>
      <label for="">Nombre</label>
    </fieldset>
    <fieldset>
      <input type="text" name="project_description" ng-model="personSave.email" required>
      <label for="">Email</label>
    </fieldset>
    <fieldset ng-if="!personSave.id">
      <input type="text" name="project_alias" ng-model="personSave.username" required>
      <label for="">UserName</label>
    </fieldset>
    <fieldset >
      <input type="text" name="project_alias" ng-model="personSave.password" required>
      <label for="">Contraseña</label>
    </fieldset>
    <fieldset ng-if="!personSave.id">
      <select class="" name="project_person_leader" ng-options="rol as rol.name for rol in rolList track by rol.id" ng-model="personSave.rol" required>
        <option value="">Seleccione un líder de proyecto</option>
      </select>
      <label for="">Rol</label>
    </fieldset>

    <fieldset>
      <input type="button" name="project_btn_cancel" value="Cancelar" ui-sref="inicio">
      <input type="submit" name="project_btn_submit" value="{{personSave.id ? 'Editar' : 'Crear'}}">
    </fieldset>
    <span ng-show="errorMsj">{{errorMsj}}</span>
  </form>
</div>
