<button type="button" name="button" ui-sref="inicio">Lista de proyectos</button>
<button type="button" name="button" ui-sref="taskProject">Detalle Proyecto {{projectSel.id}}</button>
<div ng-show="taskSel.id">
  <h1>Detalle de la Tarea{{taskSel.id}}</h1>
  <br>
  <h6>name <b>{{taskSel.name}}<b/><h6/>
  <h6>description <b>{{taskSel.description}}<b/><h6/>
  <h6>alias <b>{{taskSel.alias}}<b/><h6/>
  <h6>initial_date <b>{{taskSel.initial_date}}<b/><h6/>
  <h6>final_date <b>{{taskSel.final_date}}<b/><h6/>
    <br>
  <button type="button" name="button" ng-click="saveSubTask(taskSel)">Crear Sub tarea</button>
  <div ng-hide="taskSel.sub.length">
    <select class="" name="" ng-options="person as person.name for person in personList track by person.id" ng-model="taskPersonSelSave.person"></select>
    <button type="button" name="button" ng-click="asignarTaskPerson(taskSel)" ng-disabled="!taskPersonSelSave || !taskPersonSelSave.person">Asignar persona</button>
  </div>
  <div ng-show="taskSel.persons.length">
    <h3>Personas Asignadas</h3>
    <ul>
      <li ng-repeat="person in taskSel.persons">
        <span>{{person.name}}</span>
        <button type="button" name="button" ng-click="eliminarTaskPerson(taskSel, person)">Quitar</button>
      </li>
    </ul>
  </div>
  <br>

  <div ng-show="taskSel.comments">
    <h3>Comentarios</h3>
    <ul>
      <li ng-repeat="comment in taskSel.comments">
        <p><b>{{comment.title}} : </b>{{comment.comment}}</p>
        <i>{{comment.person.name}}</i>
        <div ng-show="comment.sub.length">
          <ul>
            <li ng-repeat="subComment in comment.sub">
              <p><b>{{subComment.title}} : </b>{{subComment.comment}}</p>
              <i>{{subComment.person.name}}</i>
            </li>
          </ul>
        </div>
        <fieldset>
          <input type="text" name="" value="" ng-model="comment.newTitle">
          <input type="text" name="" value="" ng-model="comment.newComment" ng-disabled="!comment.newTitle">
          <button type="button" name="button" ng-click="nuevoComentario(taskSel, comment)" ng-disabled="!comment.newComment">Responder</button>
        </fieldset>
      </li>
    </ul>
  </div>
  <fieldset>
    <input type="text" name="" value="" ng-model="commentSel.title">
    <input type="text" name="" value="" ng-model="commentSel.comment" ng-disabled="!commentSel.title">
    <button type="button" name="button" ng-click="nuevoComentario(taskSel)" ng-disabled="!commentSel.comment">Comentar</button>
  </fieldset>
  <br>
  <br>
  <div ng-show="taskSel.sub.length">
    <h3>Lista de SubTareas</h3>
    <ul>
      <li ng-repeat="task in taskSel.sub">
        <br>
        <h6>name <b>{{task.name}}<b/><h6/>
        <h6>description <b>{{task.description}}<b/><h6/>
        <h6>alias <b>{{task.alias}}<b/><h6/>
        <h6>initial_date <b>{{task.initial_date}}<b/><h6/>
        <h6>final_date <b>{{task.final_date}}<b/><h6/>
          <br>
        <button type="button" name="button" ng-click="taskDetail(task)">Detalle SubTarea</button>
        <button type="button" name="button" ng-click="preEditTask(task)">Editar SubTarea</button>
        <select class="" name="" ng-options="status as status.name for status in statusList track by status.id" ng-model="task.status" ng-change="changeStatusTask(task)"></select>
      </li>
    </ul>
  </div>
</div>
