<button type="button" name="button" ui-sref="inicio">Lista de proyectos</button>
<div ng-show="projectSel.id">
  <h1>Detalle Proyecto {{projectSel.id}}</h1>
  <br>
  <h6>name <b>{{projectSel.name}}<b/><h6/>
  <h6>description <b>{{projectSel.description}}<b/><h6/>
  <h6>alias <b>{{projectSel.alias}}<b/><h6/>
  <h6>initial_date <b>{{projectSel.initial_date}}<b/><h6/>
  <h6>final_date <b>{{projectSel.final_date}}<b/><h6/>
  <h6>person_leader <b>{{projectSel.person_leader.name}}<b/><h6/>
    <br>
  <button type="button" name="button" ui-sref="taskSave">Crear tarea</button>
  <span ng-hide="taskList.length">No hay tareas en este proyecto</span>

  <h3>Tareas</h3>
  <ul ng-show="taskList.length">
    <li ng-repeat="task in taskList">
      <br>
      <h6>name <b>{{task.name}}<b/><h6/>
      <h6>description <b>{{task.description}}<b/><h6/>
      <h6>alias <b>{{task.alias}}<b/><h6/>
      <h6>initial_date <b>{{task.initial_date}}<b/><h6/>
      <h6>final_date <b>{{task.final_date}}<b/><h6/>
        <br>
      <button type="button" name="button" ng-click="taskDetail(task)">Detalle tarea</button>
      <button type="button" name="button" ng-click="preEditTask(task)">Editar tarea</button>
      <select class="" name="" ng-options="status as status.name for status in statusList track by status.id" ng-model="task.status" ng-change="changeStatusTask(task)"></select>
    </li>
  </ul>
</div>
