<div class="">
  <h1>{{taskSelSave.id ? "Editar Tarea " + taskSelSave.id : "Crear Tarea"}} del proyecto {{projectSel.id}}</h1>
  <form class="" method="post" ng-submit="saveTask()">
    <fieldset>
      <input type="text" name="task_name" ng-model="taskSelSave.name" required>
      <label for="">Nombre</label>
    </fieldset>
    <fieldset>
      <input type="text" name="task_description" ng-model="taskSelSave.description" required>
      <label for="">Descripción</label>
    </fieldset>
    <fieldset ng-if="!taskSelSave.id">
      <input type="text" name="task_alias" ng-model="taskSelSave.alias" required>
      <label for="">Alias</label>
    </fieldset>
    <fieldset>
      <input type="date" name="task_initial_date" ng-model="taskSelSave.initial_date" required>
      <label for="">Fecha Inicial</label>
    </fieldset>
    <fieldset>
      <input type="date" name="task_final_date" ng-model="taskSelSave.final_date">
      <label for="">Fecha Final</label>
    </fieldset>
    <fieldset>
      <input type="button" name="task_btn_cancel" value="Cancelar" ui-sref="inicio">
      <input type="submit" name="task_btn_submit" value="{{taskSelSave.id ? 'Editar' : 'Crear'}}">
    </fieldset>
    <span ng-show="errorMsj">{{errorMsj}}</span>
  </form>
</div>
