<div>
  <h1>Proyectos</h1>
  <button type="button" name="button" ui-sref="projectSave">Crear proyecto</button>
  <ul>
    <li ng-repeat="proj in projectList">
      <h6>name <b>{{proj.name}}<b/><h6/>
      <h6>description <b>{{proj.description}}<b/><h6/>
      <h6>alias <b>{{proj.alias}}<b/><h6/>
      <h6>initial_date <b>{{proj.initial_date}}<b/><h6/>
      <h6>final_date <b>{{proj.final_date}}<b/><h6/>
      <h6>person_leader <b>{{proj.person_leader.name}}<b/><h6/>
      <button type="button" name="button" ng-click="getTaskProject(proj)">Cargar Tareas</button>
      <button type="button" name="button" ng-click="preEditProject(proj)">Editar</button>
      <select class="" name="" ng-options="status as status.name for status in statusList track by status.id" ng-model="proj.status" ng-change="changeStatusProj(proj)"></select>
    </li>
  </ul>
</div>

<div>
  <h1>Personas</h1>
  <button type="button" name="button" ui-sref="personSave">Crear Persona</button>
  <ul>
    <li ng-repeat="person in personList">
      {{person.name}}
      <button type="button" name="button" ng-click="preEditPerson(person)">Editar</button>
    </li>
  </ul>
</div>
